*.csv 
*.ckpt
*.pth
*.json 
*.pkl
*.jpg
*.parquet
*.pyc
bitmodels.egg-info/
*.so 
data/ 
build/ 
dist/ 
*.egg-info/ 
*.egg-info/* 
*.egg-info/** 
*.egg-info/**/* 
*.egg-info/**/** 
*.egg-info/**/**/* 
*.egg-info/**/**/** 
*.egg-info/**/**/**/* 
*.egg-info/**/**/**/** 
*.egg-info/**/**/**/**/* 
scratch.py
*.gz
*ubyte